.weatherLocationContent{
        background: linear-gradient(45deg, #f50057, rgb(14 160 167));
        font-weight: 100;
        border-radius: 12px;
        color: #fff;
        text-align: center;
        overflow: hidden;
        margin-bottom: 20px;
        -webkit-box-shadow: 10px 10px 9px -1px rgba(0,0,0,0.3);
        -moz-box-shadow: 10px 10px 9px -1px rgba(0,0,0,0.3);
        box-shadow: 10px 10px 9px -1px rgba(0,0,0,0.3);
}

.location h1{
        margin: 0;
}

.btnUpdate{
        padding: 10px;
        border-radius: 15px;
        margin-top: 15px;
        width: 200px;
        display: block;
        font-weight: bold;
        color: white;
        border: 1px solid #2e0346;
        background: linear-gradient(to right, #2e0346, #9f40d6);
}