body{
    font-family: 'Roboto', sans-serif;
}

.weatherDataContent{
    background:#fff;
    color:purple;
    border-radius: 12px;
}

.weatherExtraInfoContent{
    padding: 5px;
    color: black;
    margin-top: 0;
}

.weatherTemperatureContent {
    background:#fff;
    padding: 8px;
}

.temperature{
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.temperatureType{
    margin: 0 5px;
    font-weight: bold;
    color: black;

}

.wicon{
    color: black;
    margin-right: 5px;
}